.Main {
  width: 600px;
  margin: auto auto;
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  grid-template-columns: auto;
  gap: 1rem;
  @media screen and (max-width: 600px) {
    width: 300px;
    margin: 2rem auto;
  }
}
